@charset "utf-8";

body{
    margin: auto;
    max-width: 600px;
    background-color: black;
    color:gray;
}
div{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.alap{
    background-color: white;
    color: black;
}

h1{
    text-align: center;
}
